* {
    margin: 0;
    padding: 0;
    }

html {
    font-size: 62.5%;
    font-family: 'Julius Sans One', sans-serif;
}

body{
    width: 100vw;
}

/* INDEX.HTML */

.fotoinicio {
        width: 100vw;
}


.margen {
    padding: 40px;}
 
.galeriasdebodas {
    width: 400px;}
.galerias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.logosilvio {
        max-height: 84.76px;}


a {
        text-decoration: none;
        margin: 5px 10px;
        color: rgb(207, 207, 207);
        font-weight: bold;
        font-family: 'Julius Sans One', sans-serif;
        }

.navbar-collapse {
    justify-content: right;
    flex-grow: unset;
    font-size: 2rem;
    font-weight: bold;
    margin-right: 40px;
}



/*********** MAIN ************/

/* SECTION 1 */
#grid-container-section1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    background-color: #FDF0E5;
    align-items: center;
    justify-items: center;
    padding-bottom: 3rem;
    }
            
.div1_main { grid-area: 1 / 1 / 2 / 3; }
.div2_main { grid-area: 1 / 3 / 2 / 5; }
.div3_main { grid-area: 1 / 5 / 2 / 7; }
.div4_main { grid-area: 2 / 1 / 3 / 7;
            font-size: 8rem;
}
.div5_main { grid-area: 3 / 1 / 8 / 7;
            padding: 50px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            }

.imagen {
    width: 800px;
}


.intro {
    font-size: 8rem;
    font-family: 'Aboreto', cursive;
}

.formtitle {
    display: 100vw;
    text-align: center;
    margin-top: 5rem;
}

.contacto {
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Aboreto', cursive;
}

form label {
    font-size: 2rem;
}
.formulario {
    display: flex;
    flex-direction: column;
}
.a {
    width: 800px;
    margin: 20px;
    
}
.borde {
    border: 1px solid black;
    padding: 40px;
    box-sizing: border-box;
    background-color: #e0dbd7;
}



.datosdecontacto {
    margin-top: 10rem;
    font-size: 3rem;
    font-style: italic;
    font-family: 'Julius Sans One', sans-serif;
}
.sectioncontacto {
    display: flex;
    align-content: start;
}
.botones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding: 5px;
    font-size:2rem;
    font-family: 'Noto Sans Symbols 2';
    border-radius: 10px;
    

}
.boton {
    width: 170px;
    align-items: center;
    border-radius: 5px;
}
.textos {
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    font-family: 'Noto Sans Symbols 2';
    }
.textopropuesta{
    padding: 50px;
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    font-family: 'Noto Sans Symbols 2';
}
.parrafos {
    padding: 75px;
}

/* SECTION 2 */
.propuesta {
    width: 100vw;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;}

.img600 {
    width: 600px;
}
#section2 {
    background-color: rgb(134, 130, 130);
   }
.article-container {
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.articletext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    text-align: left;
}
#flex_div { 
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hr1 {
    height: 2px;
    color: #FDF0E5;
    background-color: #FDF0E5;
    margin: 3.8rem 0px;
}
.textogrande {    
    font-size: 8.5rem;
    text-align: right;
    font-family: 'Aboreto', cursive;
}
.parrafo2 {
    font-size: 3.5rem;
    align-content: center;
    padding: 10px;
    font-family: 'Noto Sans Symbols 2';
}

/* SECTION 3 */

.hr2 {
    height: 2px;
    color: rgb(134, 130, 130);
    background-color: rgb(134, 130, 130);
    margin: 0px 10rem;
}
.top {
    margin-top: 8rem;
}

.article3 {
    margin: 25px;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Julius Sans One', sans-serif;
}

figcaption {
    text-align: center;
    margin-top: 10px;
}

.recientes {
    width: 500px;}

/* SECTION 4 */

.hr3 {
    height: 2px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    margin-left: 50px;
}

.hr4 {
    margin: 50px;
    
}

.parrafogracias{
    text-align: right;
    font-size: 3.5rem;
    padding: 10px;
}
#a_escribime {
    display: block;
    height: 5.5rem;
    background-image: url(../img/resaltado2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;    
}

.tresfotos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.imagen3 {
    width: 550px;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .iconos {
    height: 50px;
    margin: 50px 20px;
}

footer div ul {
    list-style: none;
    font-size: 1.7rem;
    display: flex;
  }
.ul2 {
    flex-direction: column;
    text-align: right;
    font-family: 'Julius Sans One', sans-serif;

}
.logosilvioabajo {
    margin: 10px;}

.gray {
    background-color: rgb(134, 130, 130);
    background-size: 100vw;

}
.imgtxt {
    width: 500px;
    text-align: center;
}
.image_container {
    display: flex;
    align-items: end;
}

.txtport {
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Noto Sans Symbols 2';
    font-style: italic;
    text-align: left;
}

.txtport1{
    margin-top: 4rem;
    
}

#carusia {
    background-color: rgb(134, 130, 130);
    padding: 3rem;
    display: flex;
    justify-content: center;
}
.carousel-item {
    max-width: 1400px;}

.carousel {
    padding-bottom: 30px;
}



.fila {
    margin-left: 40px;
}
.navbar-toggler-icon {
    width: 3em;
    height: 3em;
    }
.navbar-toggler {
    margin-right: 5rem;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}











/* MEDIA QUERIES */

@media screen and (max-width: 1765px) {
    .header {height: 50rem}
    .imagen3 {width: 500px;}
}

@media screen and (max-width: 1517px) {
    .header {height: 43rem}
    .br {display: none;}
    .imagen3 {width: 450px;}

}

@media screen and (max-width: 1365px) {
    .header {height: 35rem}
    .imagen {width: 600px;}
    .b {display: none;}
    .imagen3 {width: 400px;}
}
@media screen and (max-width: 1304px) {
   
    .textos {font-size: 1.5rem; }
    .parrafos {font-size: 1.5rem; }
    .parrafo2 {font-size: 1.5rem;}
    .parrafogracias {font-size: 1.5rem;}
    .textogrande {font-size: 5rem;}
    .intro {font-size: 4rem;}
    .header {height: 38rem;}
    .imagen3 {width: 380px;}
    }

@media screen and (max-width: 1165px) {
    .header {height: 32rem;}
    .logosilvio {max-height: 65px}
    .article-container {padding: 0px;}
    .imagen3 {width: 300px;}
    }


@media screen and (max-width: 1078px) 
{
    .propuesta{
        flex-direction: column;
        padding-bottom: 50px;
    }
   
    .textopropuesta {
        padding-top: 0px;
    }
    .header {height: 30rem;}
    .textogrande {font-size: 4rem;}
    .parrafos{
        padding: 40px;
    }
    .article-container {
        display: flex;
        flex-direction: column;
        /* align-items: space-between;
        text-align: left; */
    }
    .article3 {
        margin-top: 2rem;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        grid-row-gap:2rem}
    
    .recientes {
        width: 400px;
    }
    figcaption {
        text-align: center;
        font-size: 1.5rem;
    }

    #grid-container-section1 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 15% 10% 40% 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        background-color: #FDF0E5;
        align-items: center;
        justify-items: center;
        padding-bottom: 3rem;
        }
                
    .div1_main { grid-area: 1 / 1 / 2 / 3; }
    .div2_main { grid-area: 1 / 3 / 2 / 5; }
    .div3_main { grid-area: 1 / 5 / 2 / 7; }
    .div4_main { grid-area: 2 / 1 / 3 / 7; }
    .div5_main { grid-area: 3 / 1 / 5 / 7;
                padding: 50px;
                display: flex;
                align-items: center;
               /*  justify-content: space-around; */
                }
}

@media screen and (max-width: 946px) {
    .header {height: 25rem}
    .div5_main {flex-direction: column;}
    .logosilvioabajo {display: none;}
    footer .iconos {
        height: 30px;
        margin: 0px;}
    footer ul .ul2{font-size: 1rem;}
    .txtport {font-size: 2rem;}
    .a {width: 100vw;}
    .tresfotos{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 5px;}
    .imagen3{width: 600px;}
}

@media screen and (max-width: 702px) {
    .imagen {
        width: 400px;}
    .formtitle {font-size: 3rem;}
    .imagen3{width: 400px;}
}



@media screen and (max-width: 650px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imgtxt {
        padding: 0px;}
    .textopropuesta{
        padding: 0px;
    }
    .ul2 {
        margin-top: 10px;
        text-align: center;
        font-family: 'Julius Sans One', sans-serif;}
    .txtport {
        font-size: 1rem;}
    .imgtxt {
        width: 250px;} 
    }

@media screen and (max-width: 440px) {
        .imagen {
            width: 340px;
        }
        .imagen3 {
            width: 340px;
        }
        .intro {
            font-size: 3rem;
            font-family: 'Aboreto', cursive;
        }
}

@media screen and (max-width: 381px) {
    .imagen {
        width: 300px;
    }
    .imagen3 {
        width: 300px;
    }
    .intro {
        font-size: 2.5rem;
        font-family: 'Aboreto', cursive;
    }
}

/* HEADER ORIGINAL DESCARTADO POR AHORA */

/* #grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    } */


/* header original */
/*     .header { grid-area: 1 / 1 / 2 / 7; 
        height: 55rem;
        background-image: url(../img/PORTADAINDEX2.JPG);
        background-size: 100vw;
        background-position: center top;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-color: #FDF0E5;
        align-items: right;
        display: flex;
        justify-content: space-between;
        } */
/* .navbarsilvio{
        
        margin-top: 40px;
        display: flex;
        font-size: 2rem;
        padding-right: 20px;
        list-style: none;
        
        } */